@import '../../styles/variables.scss';

.wordsDay {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;

    &Item {
      flex: 0 0 calc(100% - #{$gutter});
    }
  }
}

@media screen and (min-width: 576px) {
  .wordsDay {
    &__list {
      &Item {
        flex: 0 0 calc(50% - #{$gutter});
      }
    }

    &__form {
      display: flex;
      justify-content: center;
  
      &Item {
        margin-right: $gutter !important;
        margin-bottom: 0 !important;

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .wordsDay {
    &__list {
      &Item {
        flex: 0 0 calc(33.33333% - #{$gutter});
      }
    }
  }
}