@import './variables';

body {
  font-family: $baseFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $baseFontSize;
  color: $baseColor;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: $siteWidth;
  margin: 0 auto;
  padding-left: $wrapperPadding;
  padding-right: $wrapperPadding;
}